<h1>About us</h1>
<p>
  <a href="http://railstutorial.org/">Rubby on Rails Tutorial</a> is a project ot make a book and screencasts to teach web dev with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is the 
  same application for the tutorial.
</p>

